body
{
	margin-left: 350px;
}
h2
{
	font-size: 35px;
	margin-left: 400px;
	margin-left: 350px;
	flex:left;
	font-family:"Times New Roman", Times, serif; 
}
h4
{
	margin-left: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
 
input
{
	padding: 5px;
	font-family: sans-serif;
	width: 392px;
}
form
{
	margin-left: 80px;
} 
.as
{
	border: 2px solid black;
	background: #26262636;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0  15px 50px rgba(0,0,0,.2);
}
#btn
{
	color: white;
	background-color: rgb(0,153,255);
	height: 35px;
	border-radius: 10px;
	width: 150px; 
} 

.hover-shadow:hover
 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 10px 10px 0px rgba(0, 0, 0, 0.29);
}
 