
.div1{
	border: 1px solid blue;
	margin-top: 100px;
	margin-right: 470px;
	margin-left: 470px;
	text-align: center;
	color: white;
	background-color: blue;
	border-radius: 10px;
}

.div1 div.innerdiv{
	margin-left:0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 1px solid white;
	background-color: white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius: 10px; 


}

.div1 div.innerdiv input.in{
     height: 35px;
     width: 350px;
}

.div1 div.innerdiv button.bu{
	width: 350px;
	height: 35px;
	color: white;
	background-color: blue;
	letter-spacing: 5px;
}

.div1 div.innerdiv div.sign{
	margin-bottom: 30px;
	color: black;
	}

.div1 div.innerdiv div.sign a{
	color: red;
	font-size: 20px;
	text-decoration: none;
}

