h1
{
	font-family: sans-serif;
    margin-left: 330px;	
}
h2
{
	margin-left: 360px;
	font-family: sans-serif;
}
.c1
{


}
.c1 input
{
	width:300px;
	padding: 8px;
	margin-left: 25px;
}
.c2
{
margin-left: 3px;
}
.c2 input
{
	width:300px;
	padding: 8px;
	margin-left: 40px;
}
.c3
{

}
.c3 input
{
	width:300px;
	padding: 8px;
	margin-left: 20px;
}
.btn
{
	margin-left: 340px;
}